.features-list {
    display: flex;
}

.features-list__item+.features-list__item {
    margin-left: 30px;
}

.features-list__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    padding: 0px;
    margin-bottom: 10px;
}

.features-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    padding: 0px;
    margin: 0px;
}