.features-list {
    display: flex;

        &__icons {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            background-color: #f5f4fa;
            margin-bottom: 30px;
        }
    
        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--primary-text-color);
            padding: 0px;
            margin-bottom: 10px;
        }
    
        &__text {
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--text-color);
            padding: 0px;
            margin: 0px;
        }
        &__item+ &__item {
                    margin-left: 30px;
                }
}



