body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.section {
    padding: 94px 0;
}

.btn {
    font-family: inherit;
    border: none;
    cursor: pointer;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}